*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
html,
body {
  position: relative;
  height: 100%;
}
.main {
    height: 100vh; 
    width: 100vw; 
    background-image: url(background.png);
    background-size: cover;
    background-position: center;
    position: relative; 
}
.bg {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; 
}
.nav{
    /* height: 10vh; */
    width: 100vw;
    padding: 10px;
    padding-left: 170px;
    padding-right: 170px;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 2;
    background-color:rgba(255, 255, 255, 0.8)
}
.nav ul{
    margin-left: 70%;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 30px;
}
.nav ul li{
    list-style: none;
    color: rgba(240, 248, 255, 0.826);
    font-weight:  bold;
    font-style: oblique;
}
.history{
    height: 100vh; 
    width: 100vw; 
    background-image: url(history.png);
    background-size: cover;
    background-position: center;
    position: relative;
}
.content{
    text-align: center;
}
.content .his{
    height: 90px;
    margin: 8%  57% 0 0;
}
.content p{
    margin: 0% 20%  0 20%;
    text-align: justify;
}

/* Slider  CSS */

.slider {
    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    max-width: 800px; /* adjust as needed */
    margin: 0 auto;
    position: relative;
  }
  
  .slide {
    display: inline-block;
    width: 100%;
    transition: transform 1s ease;
  }
  
  .slide img {
    width: 100%;
    height: auto;
  }






/* Slider Css Close  */

.climb{
    display:  flex;
    align-items: center;
    justify-content: center;
}
.clim{
    height: 90px;
    margin: 1%  0% 1% 15%;
}
.climb p{
    margin: 2% 18% 0 2%;
}
.line{
    padding: 0 0 0 15.5%;
    height: 40px;
    background-color:#364659;
}
.line button{
    margin: 0.5% 2% 0 0;
    font-size: 140%;
    padding: 2px;
    border: none;
    font-weight: bold;
    color: rgb(171, 171, 171);
    background-color: transparent;
    cursor: pointer;;
}
.line button:hover{
    background-color: rgb(171, 171, 171);
    color: #364659;
}
.lst{
    padding: 15% 0 0 0;
    height: 100vh; 
    width: 100vw; 
    background-image: url(climb.png);
    background-size: cover;
    background-position: center;
    position: relative;
}
.box{
    color: #364659;
    padding: 5px 0 0 30px;
    margin: 0 0 0 15%;
    width: 25%;
    backdrop-filter: blur(2px);
    background-color: rgba(255, 254, 254, 0.598);
}
table{
    color: #000;
}
table .date{
    padding: 6px;
}
.footer{
    height: 5%;
    background-color: #364659;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40%;
}
.footer h5{
    color: #657f9caa;
}
