@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@700&family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    height: 100%;
}
#main #nav{
    width: 100%;
    height: 80px;
    background-color: #103cc9;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#main #nav #left img{
    width: 0px;
}

#main #nav #middle h3{
    display: inline-flex;
    color: #fff;
    font-family: 'Poppins', sans-serif;;
    margin-left: 30px;
}
#main #nav #center #search{
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;;
    color: #fff;
    background-color: #092885 ;
    border: none;
    border-radius: 50px;
    width: 350px;
}
::placeholder{
    color: #fff;
}
#main #nav #right img {
    width: 50px;
    border: 2px solid#fff;
    border-radius: 50px;
}
#main .page{
    background-image: url(1.jpg);
    background-size: cover;
    width: 100%;
    height: 70vh;
}
#main .page h1{
    font-family: 'Poppins', sans-serif;;
    font-size: 10vh;
    color: #fff;
    margin-left: 80px;
    padding-top: 30px;
}
#main .page p{
    font-family: 'Poppins', sans-serif;
    font-size: 4vh;
    color: #fff;
    margin-left: 80px;
    padding-top: 30px;
    line-height: 28x;
}
#main .page .btndiv{
    margin-left: 80px;
    padding-top: 30px;
    font-family: Gilroy;
}
#main .page .btndiv .btn1{
    padding: 10px 20px;
    border: none;
    border-radius: 50px;
    background-color: #103cc9;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}
#main .page .btndiv .btn2{
    padding: 10px 20px;
    border: 1px solid #fff;
    border-radius: 50px;
    background-color:transparent;
    color: #fff;
    font-size: 15px;
    margin-left: 30px;
    cursor: pointer;
}
.part2{
    height: 100%;
    margin-top: 60px;
}
#main .part2 h3 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}
.ig{
    height: 120px;
    width: 120px;
    border-radius: 15%;

}
#main .part2 .images{
    margin-left: 8%;
    margin-right: 8%;
    display: flex;
    height: 300px;
    width: 120px;
    gap: 7%;
    align-items: center;
}
.part2 .but{
    align-items: center;
}