
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: 'Poppins', sans-serif;
}
#main{
    width: 100%;
    height: 100vh;
    background-color: rgb(214, 213, 213);
    display: flex;
    justify-content: center;
    align-items: center;
}
#cards{
    width: 400px;
    height: 500px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#cards h3{
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;

}
#cards p{

    font-size: 16px;
    font-weight: 400;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 20px;
}
#cards .img img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-top: 40px;
    border: 4px solid rgb(102, 102, 255);
    object-fit: cover;
}
#cards .btn{
    padding: 15px 20px;
    background-color: rgb(102, 102, 255);
    color: #fff;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    font-size: 18px;
}
#cards .btn:hover{
    background-color: transparent;
    color: rgb(102, 102, 255);
    border: 1px solid rgb(102, 102, 255);
}